* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("assests/images/home-banner.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}